<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type">
    <link rel="icon" href="favicon.ico"/>
    <script src="./res/jQuery/jquery.1.11.0.min.js"></script>
    <script src="./res/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./res/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/base.css">
    <style>
        #app{width:640px;margin: 0 auto;color:#a59d9d;}
    </style>
</head>
<body>
<div class="container">
    <div class="tab">
    <input class="button btn" type="button" value="缓存数据" data-type="1">
    <input class="button btn" type="button" value="实时数据" data-type="0">
        <div id="app">
            <table v-if="optionList.length>0" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>编号</th>
                    <th>选项名称</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in optionList">
                    <th>{{index+1}}</th>
                    <td>{{item.val}}</td>
                    <td>{{item.text}}</td>
                </tr>
                </tbody>
            </table>
            <div v-else class="load">数据加载中......</div>
        </div>
</div>

</div>
</body>
<script src="./res/vue/vue.2.2.6.js"></script>
<script>
    function test(cityId){
        $.ajax({
            url:'/getDataByCityId',
            dataType:'json',
            type:"POST",
            data:{id:cityId},
            success:function(data){
                console.log(data);
            },
            error:function (err) {
                console.log(err);
            }
        })

    }
$(function () {
    var VMapp=new Vue({
        el:'#app',
        data:{
            optionList:[]
        }
    });
    $('.tab').on('click','input',function () {
       var type=$(this).attr('data-type');
        getAllOptions(type);
    });
    function getAllOptions(type){
        VMapp.optionList.splice(0,VMapp.optionList.length);
        $.ajax({
            url:'/optionsUrl',
            type:'GET',
            dataTpye:'text',
            data:{
                type:type
            }
        }).done(function (data) {
            VMapp.optionList=data.data;
        })
    }
    getAllOptions(1);
    function getDetailByCity(cityId){
        $.ajax({
            url:'http://top.zhaopin.com/Home/_Top50Detail?Length=4',
            dataType:'html',
            type:"POST",
            data:{
                industry_10:'',
                time_10:2,
                cityId:cityId,
                cityName:'',
                isAjaxRequest:true,
                id:'HotJobTop'
            }
            ,success:function(data){
                console.log(data);
            },errorfunction (err) {
                console.log(err);
            }
        })

    }
    //getDetailByCity(489);












})

</script>
</html>